<%- include('../header') %>
<div class="container sod">
    <div class="mt-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title h4 mt-1"><b>จัดส่งสินค้า : <%= orderId %></b></div>
                <form method="post">
                    <div>
                        <label>ชื่อบริษัทขนส่ง</label>
                        <input type="text" name="track_name" class="form-control" />
                    </div>
                    <div>
                        <label>เลขติดตามพัสดุ</label>
                        <input type="text" name="track_code" class="form-control" />
                    </div>
                    <div>
                        <label>วันที่จัดส่ง</label>
                        <input type="date" name="send_date" class="form-control" />
                    </div>
                    <div>
                        <label>หมายเหตุ</label>
                        <input type="text" name="send_remark" class="form-control" />
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-info">
                            ยืนยันการจัดส่ง
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../footer') %>